<div class="row">
  <div class="col-lg-offset-4 col-lg-4">
<%= form_for @customer, url: customer_path(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@customer.errors.count, "error") %> prohibited
        this customer from being saved:
      </h2>
      <ul>
        <% @customer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% if !admin_signed_in? %>
  <% if @customer.locked == true %>
    We are sorry, but the edition of this costumer is not allowed at this moment.
  <% else %>
    Dear <%= @customer.salutation %><%= @customer.surname %>,<br>
    Here you will be able to change all your information, so we can have it updated.<br><br>
    <%= f.label :name %>*<%= f.text_field :name, :class => 'form-control', :required => true %>
    <%= f.label :surname %>*<%= f.text_field :surname, :class => 'form-control', :required => true %>
    <%= f.label :company %><%= f.text_field :company, :class => 'form-control' %>
    <%= f.label :email %>*<%= f.email_field :email, :class => 'form-control', :required => true %>
    <%= f.label :phone %>*<%= f.text_field :phone, :class => 'form-control', :required => true %>
    <%= f.label :file %><%= f.file_field :file, :class => 'form-control' %>
    <% if @customer.file %>
		  <a href="/uploads/<%= @customer.file %>" target="_blank" class='form-control' download>Download</a>
  	<% else %>
  		<div class='form-control'>No file uploaded</div>
  	<% end %>
  	<br>
    <%= f.label :"Brief comment" %>*<%= f.text_area :comment, :class => 'form-control', :required => true %>
    <br>
    <p>
      <%= f.submit "Save", :class => 'btn btn-lg btn-primary btn-block' %>
    </p>
  <% end %>
<% else %>
  <h2>Edit customer</h2>
  <%= f.label :salutation %><%= f.select(:salutation, [['Dear Mr.','Mr.'],['Dear Mrs.','Mrs.']], {}, {:class => 'form-control'}) %>
  <%= f.label :name %><%= f.text_field :name, :class => 'form-control' %>
  <%= f.label :surname %><%= f.text_field :surname, :class => 'form-control' %>
  <%= f.label :company %><%= f.text_field :company, :class => 'form-control' %>
  <%= f.label :email %><%= f.email_field :email, :class => 'form-control', :required => true %>
  <%= f.label :phone %><%= f.text_field :phone, :class => 'form-control' %>
  <%= f.label :file %><%= f.file_field :file, :class => 'form-control' %>
  <% if @customer.file %>
		<a href="/uploads/<%= @customer.file %>" target="_blank" class='form-control' download>Download</a>
	<% else %>
		<div class='form-control'>No file uploaded</div>
	<% end %>
	<br>
  <%= f.label :"Brief comment" %><%= f.text_area :comment, :class => 'form-control text-area' %>
  <label><%= f.check_box :locked %> Locked</label>
  <br>
  <p>
    <%= f.submit "Save", :class => 'btn btn-lg btn-primary btn-block' %>
  </p>
  <!--<%= link_to 'Back', customers_path %>-->
<% end %>
<% end %>
</div>
</div>