<div class="row">
	<div class="col-lg-offset-4 col-lg-4">
		<table align="center" class="table table-bordered">
			<tr><th align="left">Salutation</th><td><%= @customer.salutation %></td></tr>
			<tr><th align="left">Name</th><td><%= @customer.name %></td></tr>
			<tr><th align="left">Surname</th><td><%= @customer.surname %></td></tr>
			<tr><th align="left">Company</th><td><%= @customer.company %></td></tr>
			<tr><th align="left">Email</th><td><%= @customer.email %></td></tr>
			<tr><th align="left">Phone</th><td><%= @customer.phone %></td></tr>
			<tr><th align="left">Brief comment</th><td><%= @customer.comment %></td></tr>
			<tr><th align="left">Locked</th><td><%= @customer.locked %></td></tr>
			<tr><th align="left">Opened times</th><td><%= @customer.opened_times %></td></tr>
		</table>

		<%= link_to 'Back', customers_path %>
	</div>
</div>